{% extends "base.html" %}
{% block body %}

<div id="formdiv" class="row show">
<form action="/" method="post">
    <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input id="title" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="list" class="control-label">Titles of the articles</label>
        <textarea rows="10" id="list" class="form-control" placeholder="One per line"></textarea>
    </div>
    <button id="zimit" class="btn btn-primary btn-lg" type="button">Zim it!</button>
</form>
</div>
<div id="infodiv" class="hidden">
    <p id="info" class="bg-info alert alert-info"></p>
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
    <pre id="status">
    Sending request..
    </pre>
</div>
<button id="download" type="button" class="btn btn-lg btn-success hidden">Download Zim file</button>

<script>
function updateDownload(resp){
    $.getJSON("./status/"+resp.task, function(d){
        if(d.status==="success"){
            $('.progress-bar').attr("style", "width:100%").attr("aria-valuenow", d.count);
            $('#download').data("task", resp.task).removeClass("hidden").addClass("show");
        }
        else if( d.status === "started" ) {
            $('.progress-bar').attr("style", "width:"+d.count+"%").attr("aria-valuenow", d.count);
                $('#status').text("Processing: "+d.msg);
                setTimeout(function(){ updateDownload(resp);  }, 2000);
        }else if( d.status === "retry" | d.status === "failure"){
                $(".progress-bar-success").removeClass("progress-bar-success").addClass("progress-bar-danger");
                $('#status').text("The pages couldn't be zimmed. Sorry YO!");
                alert("There was some error with your request. Request has failed.");
        }else if( d.status === "pending"){
                setTimeout(function(){ updateDownload(resp);  }, 2000);
                $('#status').text("Your request is waiting in the queue..");
        }
    });
}

$('#download').click(function(){
        window.location = "./download/"+$(this).data('task')+"/"+$('#title').val()+".zim";
});

$('#zimit').click(function(){
    //post the request
    if (validateForm()){
        $.post(
            "./",
            {
                title: $('#title').val(),
                list: $('#list').val()
            },
            function(resp){
                $("#info").text("Your pages are being downloaded and packed as zim. Kindly wait.");
                $("#infodiv").removeClass("hidden").addClass("show");
                updateDownload(resp);
        });
        $("#formdiv").removeClass("show").addClass("hidden");
    }
});

function validateForm(){
    if( $('#title').val() && $('#list').val() )
        return true;

       if( !$('#title').val() ){
            $('#title').parent()
            .addClass('has-error has-feedback')
            .append("<span class=\"glyphicon glyphicon-remove form-control-feedback\" aria-hidden=\"true\"></span>");
        }

       if( !$('#list').val() ){
            $('#list').parent().addClass('has-error has-feedback');
       }
    alert("There are errors in your input. Kindly fix them and click Zim it!");
    return false;
}
</script>

{% endblock %}
