amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
cssselect==0.9.1
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.7.3
kombu==3.0.26
lxml==3.4.4
MarkupSafe==0.23
pyquery==1.2.9
pytz==2015.2
redis==2.10.3
Werkzeug==0.10.4
